@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic,400italic,600,600italic,700);
//華康仿宋體 w4
body{
	font-size:16px;
	font-family: 微軟正黑體 ;
	background-color:#eeeeee;
}
#logo{
	margin: 70px 0 15px 15%;
	display:inline;
	
}

#nav{
	float:right;
	margin-top:155px;
	margin-right:15%;
	display:inline-block;
}


#nav li{
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
}

#nav li:hover{
	
	border-bottom: 2px dashed orange;

}

#service{
	width:65%;
	margin:0 auto;
	text-align:center;
	padding:15px;

}

.item{
	display:inline-block;
	margin-left:20px;
	margin-right:20px;
	line-height:1.5em;
	text-align:center;
	
}

.item img {
		width:150px;
		padding:8px;
}

h3{
	line-height:2em;
	font-weight:bold;
	
}


.works{
	background-color:#DDDDDD;
	
}

.tableContainer{
	width:58%;
	display:table;
	margin: 0 auto;
	padding-top:50px;
	padding-bottom:50px;
}

.tableRow{
	display:table-row;
	background-color:white;
	padding:35px;
	
}

.film{
	
	display:table-cell;
	vertical-align:top;
	width:500px;
	
}

.introduce{
	
	display:table-cell;
	padding:25px;
	padding-left:50px;
	vertical-align:middle;
	font-size:0.8em;
}

a{
	color:inherit;
	text-decoration:none;
}

a:hover{
	color:inherit;
}

a:visited{
	color:inherit;
	
}

article{

	width:58%;
	margin: 100px auto;
}



#about{

padding:15px;
font-family: 'DFKai-SB';
}



footer{
	background-color:#393843;
	color:white;
	font-size:0.8em;
	padding:100px;
	line-height:1.5em;
}

h1{
	font-family:'微軟正黑體';
	font-size:2em;
	font-weight:bold;
	padding:15px;
	padding-bottom:30px;
}

h2{
	font-size:1.5em;
	}
	
h3{
	font-size:1.2em;
}

.heading{
	display:table-cell;
}

#img_banner{

	opacity:40%;
}